#html-editor {
  font-size: 18px !important;
}
.thumbnail_box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  border: 2px solid var(--sub-color);
  background: var(--sub-color-10);
}
.thumbnail_title {
  font-size: var(--font-base);
  font-weight: normal;
  border-bottom: 1px solid var(--sub-color);
  background: unset;
}
.thumbnail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.thumbnail-img {
  display: inline-block;
  width: 150px;
  height: 100px;
  overflow: hidden;
}

.thumbnail_images {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}
