.tiptap {
  width: 100%;
  height: 100%;
  border: 2px solid var(--black-color);
  background: var(--white-color);
}
p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
