@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Noto+Sans+JP&display=swap");
:root {
  /* カラー */
  --sub-color: #fcc800;
  --base-color: #fcd53f;
  --accents-color: #fde37e;
  --white-color: #fffffe;
  --black-color: #333333;
  /* サブカラーの透明度 */
  --sub-color-90: #fcc800e6;
  --sub-color-80: #fcc800cc;
  --sub-color-70: #fcc800b3;
  --sub-color-60: #fcc80099;
  --sub-color-50: #fcc80080;
  --sub-color-40: #fcc80066;
  --sub-color-30: #fcc8004d;
  --sub-color-20: #fcc80033;
  --sub-color-10: #fcc8001a;

  /* size */
  --font-large: 27px;
  --font-base: 18px;
  --font-small: 16px;
  --font-x-small: 14px;

  /* size-s/m/l/xl ※主に、paddingとmarginに使用*/

  --size-s: 1em;
  --size-m: 2em;
  --size-l: 5em;
  --size-xl: 10em;
  /* z-index */
  --z-index-popup: 30;
  --z-index-menu: 20;
  --z-index-header: 10;
  --z-index-default: 0;
}
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333333;
  background: #fffffe;
  font-size: 62.5%;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: var(--font-base);
}
@media screen and (min-width: 576px) {
  body {
    font-size: var(--font-small);
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
