@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
/* 共有 */
.container {
  width: 100%;
  height: auto;
  min-width: 320px;
  max-width: 575px;
}
.main {
  width: 100%;
  height: auto;
  position: relative;
}
.main_wrapper {
  width: 100%;
  height: auto;
  position: relative;
}
.bg_img {
  width: 100%;
  height: 100%;
  background-repeat: repeat-y;
  background-size: cover;
}
.contents {
  width: calc(100% - 40px);
  height: auto;
  background-image: url(/images/bg.png);
  /* background-image: url(/images/bg-sp.png); */
  background-repeat: repeat-y;
  margin: 0 auto;
  border: 1px solid var(--sub-color);
  background-color: var(--white-color);
}

.page_title {
  font-size: 27px;
  text-align: center;
  color: var(--sub-color);
  font-weight: 200;
  margin: 1rem 0;
}
.border_bottom {
  border-bottom: 3px solid var(--sub-color);
  display: inline-block;
  width: 100%;
}
.portfolio_name {
  font-size: 36px;
  color: var(--white-color);
  font-family: "Merienda", "cursive";
  text-shadow: 2px 2px 0px var(--accents-color);

  margin: 0;
}
.my_name {
  font-size: 18px;
  color: var(--white-color);
  font-family: "Merienda", "cursive";
  text-shadow: 2px 2px 0px var(--accents-color);
}
.upButton {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: var(--z-index-header);
}
.upButton,
.blogButton {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid var(--accents-color);
  background: var(--base-color);
  border-radius: 5px 0px 0px 5px;
}
.blogButton {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.blogButton_bar {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: var(--sub-color);
}
.blogButton_bar:nth-child(2) {
  margin: 3px 0;
}
.socialMediaBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.socialMediaButton {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
  padding: 0;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  background: transparent;
}
.backButton {
  width: 50px;
  height: 25px;
  background: var(--accents-color);
  border: 1px solid var(--accents-color);
  border-radius: 5px;
  color: var(--black-color);
}
.submitButton {
  width: 50px;
  height: 25px;
  background: var(--accents-color);
  border: 1px solid var(--base-color);
  border-radius: 5px;
  color: var(--sub-color);
}
.startButton {
  width: 50px;
  height: 50px;
  position: relative;
  border-style: unset;
  background: none;
  animation: blink 1s infinite;
  padding: 0;
}
.startArrow {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 20px;
}
.startCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--white-color);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show {
  opacity: 1; /* 不透明度を1にする */
  transform: translateY(0); /* 上方向への移動を解除 */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* アニメーション効果 */
}

.hide {
  opacity: 0; /* 不透明度を0にする */
  transform: translateY(20px); /* 上方向に20px移動させる */
}
.error_message {
  text-align: center;
}
.header {
  width: 100%;
  height: 50px;
}
.header_wrapper .header_nav {
}
.header_nav_list {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.header_nav_item {
  width: 60px;
  height: 25px;
  text-align: center;

  letter-spacing: -1.5px;
  border-left: 1px solid var(--sub-color-10);
  border-right: 1px solid var(--sub-color-10);
  border-bottom: 1px solid var(--sub-color-10);
  border-radius: 0px 0px 5px 5px;
  background: linear-gradient(
    to top,
    var(--accents-color) 0%,
    var(--white-color) 50%
  );
}
.header_nav_item:last-child {
  letter-spacing: -2px;
}
.itemTitle {
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .container {
    min-width: 576px;
    max-width: 1023px;
  }
  .my_name {
    font-size: 36px;
  }
  .portfolio_name {
    font-size: 64px;
  }
  .socialMediaBox {
  }
  .socialMediaButton {
  }
  .header_nav_list {
    justify-content: flex-end;
  }
  .header_nav_item {
    letter-spacing: 0;
    margin: 0 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .my_name {
    font-size: 64px;
  }
  .portfolio_name {
    font-size: 96px;
  }
}
/* home */
.home_header {
  width: 100%;
  height: 50px;
}

.home_contents {
  width: 100%;
  height: 100vh;
  font-size: var(--font-large);
  margin: 0;
  text-align: center;
}
.home_gradation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  overflow: hidden;
}
.home_beans_img {
  width: 210px;
  height: auto;
  margin: 0 auto;
}
.home_gradation_title {
  margin: 0;
  transform: rotate(-15deg);
  transform-origin: center;
}
.home_text_gradation {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  color: var(--base-color);
  text-shadow: 3px 3px 3px var(--black-color);
  text-shadow: 5px 5px 0px var(--sub-color);
  animation: gradation 5s infinite ease-in-out;
}
@keyframes gradation {
  0% {
    color: var(--black-color);
  }
  25% {
    color: var(--base-color);
  }
  50% {
    color: var(--white-color);
  }
  75% {
    color: var(--base-color);
  }
  100% {
    color: var(--black-color);
  }
}
.home_notebook {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.home_notebook_bg {
  width: 2em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 25px;
}
.home_notebook_bg_text {
  font-size: 2em;
  transform: rotate(90deg);
  color: var(--sub-color);
  letter-spacing: 4rem;
}
.home_notebook_cover {
  width: calc(100% - 50px);
  height: 100%;
  background: var(--base-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.home_notebook_spine {
  width: 25px;
  height: 100%;
  border-right: 0.5px solid var(--sub-color);
  border-left: 0.5px solid var(--sub-color);
  border-radius: 5px 0px 0px 1px;
  background: var(--accents-color);
}
.home_notebook_spine_under {
  width: 25px;
  height: 10px;
  background: var(--accents-color);
  position: absolute;
  bottom: -10px;
  transform: translateX(15px) skewX(70deg);
  border-right: 0.5px solid var(--sub-color);

  z-index: var(--z-index-header);
}
.home_notebook_bundle {
  width: 25px;
  height: 100%;
  background: var(--base-color);
  transform: skewY(20deg);
  transform-origin: top left;
  overflow: hidden;
}
.home_notebook_bundle_under {
  position: absolute;
  bottom: -10px;
  width: calc(100% - 50px);
  height: 10px;
  background: var(--sub-color-10);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  transform: translateX(37px) skewX(70deg);
  overflow: hidden;
}
.home_notebook_page_under {
  display: inline-block;
  width: 100%;
  height: 0.5px;
  background: var(--white-color);
  border-bottom: 0.5px solid #33333333;
  transform-origin: right;
  margin-bottom: 0.5px;
}
.home_notebook_page {
  display: inline-block;
  width: 1px;
  height: 100%;
  border-left: 0.5px solid #33333333;

  background: var(--white-color);
}

.home_button {
  position: absolute;
  bottom: 0;
  right: 30px;
}

@media screen and (min-width: 576px) {
  .home_notebook_bg_text {
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .home_notebook_bg_text {
    font-size: 2em;
  }
}
/* about */
.about_section {
  width: calc(100% - 20px);
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;

  transform: translateY(2rem);
  transition: all 1s ease-in-out;
}
.about_section.active {
  opacity: 1;
  transform: translateY(0);
}

.about_image_box {
  width: 100%;
  height: 100%;
}
.about_image {
  width: 100%;
  height: 100%;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  background-image: url(/images/mt-huji-sp.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 10px;
}
.about_text {
  line-height: 1.5;
  padding-bottom: 10rem;
}
.about_intro_text {
  padding-top: 2rem;
}
.about_skill_text {
  padding-top: 2rem;
}
.about_skill_list {
  margin-left: 2rem;
  margin-top: 1rem;
  list-style-type: decimal;
}
.about_skill_item::marker {
  font-weight: bold;
}
.about_skill_item_list {
  margin-left: 2rem;
  list-style-type: disc;
}
.about_skill_item_list_item {
  margin: 0.5rem 0;
}
.about_career_text {
  padding-top: 2rem;
}
.about_career_text {
  padding-top: 2rem;
}
.about_career_list {
  margin-left: 2rem;
  margin-top: 1rem;
  list-style-type: disc;
}
.about_career_item {
  margin: 0.5rem 0;
}
@media screen and (min-width: 576px) {
  .about_section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .about_image {
    background-image: url(/images/mt-huji-pc.svg);
    width: 100%;
    height: 100%;
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .about_section {
    max-width: 600px;
  }
}
/* works */
.works_section {
  width: calc(100% - 20px);
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  transform: translateY(2rem);
  transition: all 1s ease-in-out;
  opacity: 0;
}
.works_section.active {
  opacity: 1;
  transform: translateY(0);
}
.works_scroll {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  scroll-snap-type: x mandatory;
}
.works_scroll::-webkit-scrollbar {
  height: 8px;
}
.works_scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
.works_scroll_image {
  display: inline-block;
  width: 240px;
  height: 450px;
  margin-right: 10px;
  scroll-snap-align: start;

  min-width: 240px;
  border-radius: 5px;
  background-repeat: no-repeat;
}
.works_img_1 {
  background-image: url(/images/works-img-sp-1.png);
}
.works_img_2 {
  background-image: url(/images/works-img-sp-2.png);
}
.works_img_3 {
  background-image: url(/images/works-img-sp-3.png);
}

.works_text {
  line-height: 1.5;
  padding-bottom: 10rem;
  margin-top: 2rem;
}
.works_app_link {
  border-bottom: 2px solid var(--base-color);

  animation: color 1s infinite;
}
.works_app_link_Text {
  text-align: center;
}
@keyframes color {
  0% {
    color: var(--sub-color);
  }
  50% {
    color: var(--accents-color);
  }

  100% {
    color: var(--sub-color);
  }
}
.works_overview {
  padding-top: 2rem;
}
.works_overview_title {
  /* 概要のスタイル */
}
.works_overview_text {
  /* 概要のスタイル */
  margin-top: 1rem;
}

.works_features {
  /* 主な特徴のスタイル */
  padding-top: 2rem;
}
.works_features_title {
  /* 主な特徴のスタイル */
}
.works_features_list {
  /* 主な特徴のスタイル */
  margin-left: 2rem;
  margin-top: 1rem;
  list-style-type: disc;
}
.works_features_item {
  /* 主な特徴のスタイル */
  margin: 0.5rem 0;
}

.works_techUsed {
  /* 使用技術のスタイル */
  padding-top: 2rem;
}
.works_techUsed_title {
  /* 使用技術のスタイル */
}
.works_techUsed_list {
  /* 使用技術のスタイル */
  margin-left: 2rem;
  margin-top: 1rem;
  list-style-type: disc;
}
.works_techUsed_item {
  /* 使用技術のスタイル */
  margin: 0.5rem 0;
}

.works_devProcess {
  /* 開発プロセスのスタイル */
  padding-top: 2rem;
}
.works_devProcess_title {
  /* 開発プロセスのスタイル */
}
.works_devProcess_list {
  /* 開発プロセスのスタイル */
  margin-top: 1rem;
  margin-left: 2rem;
  list-style-type: decimal;
}
.works_devProcess_item::marker {
  /* 開発プロセスのスタイル */
  font-weight: bold;
}
.works_devProcess_item_list {
  /* 開発プロセスのスタイル */
  margin-left: 2rem;
  list-style-type: disc;
}
.works_devProcess_item_list_item {
  /* 開発プロセスのスタイル */
  margin: 0.5rem 0;
}
@media screen and (min-width: 576px) {
  .works_section {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .works_scroll_image {
    width: 600px;
    height: 330px;
  }
  .works_section {
    max-width: 600px;
  }
  .works_scroll_image {
    max-width: 600px;
    min-width: 600px;
  }
  .works_img_1 {
    background-image: url(/images/works-img-pc-1.png);
  }
  .works_img_2 {
    background-image: url(/images/works-img-pc-2.png);
  }
  .works_img_3 {
    background-image: url(/images/works-img-pc-3.png);
  }
}
/* blog */
.blog_section {
  width: calc(100% - 20px);
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
.blog_contents {
  width: 100%;
  max-width: unset;
  margin: 0 auto;
}
.blog_post {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: 1.5;
  padding-bottom: 1rem;
  margin: 2rem auto 0;
  border-bottom: 0.5px dashed var(--black-color);
}
.blog_post_title {
  text-align: center;
  font-size: var(--font-base);
}
.blog_post_img {
  width: 100px;
  height: auto;
  margin: 1rem auto 0;
}

.blog_post_text {
  width: 100%;
  margin: 0 auto;
}
.blog_post_next {
  text-align: left;
  margin: 2rem 0 0 auto;
}
.blog_post_date {
  margin: 3rem 0 0 auto;
}
@media screen and (min-width: 576px) {
  .blog_contents {
    padding: 3rem 0px 100px;
  }
  .blog_contents {
    max-width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .blog_contents {
    max-width: 1000px;
  }
  .blog_post {
    max-width: 700px;
    display: grid;
    justify-content: space-between;
    padding-bottom: 2rem;
    align-items: stretch;
    justify-items: center;
    padding-bottom: 2rem;
  }
  .blog_post_title {
    grid-area: 1 / 2 / 2 / 3;
  }
  .blog_post_date {
    grid-area: 1 / 3 / 2 / 4;
  }
  .blog_post_img {
    width: 100%;
    max-width: 150px;
    grid-area: 1 / 1 / 4 / 2;
    margin: 1rem 1rem 0;
  }
  .blog_post_text {
    grid-area: 2 / 2 / 3 / 4;
  }
  .blog_post_next {
    grid-area: 3 / 3 / 4 / 4;
  }
}

/* contact , confirmation , post */
.contact_section,
.confirmation_section,
.post_section,
.upload_section {
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
}
.contact_form_box,
.confirmation_form_box,
.post_form_box {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
}
.contact_form,
.post_form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.contact_form_title,
.contact_form_subject,
.confirmation_form_title,
.confirmation_form_subject,
.confirmation_form_contents,
.post_form_title {
  text-align: center;
  margin-top: 1rem;
}
.contact_form_title label,
.contact_form_subject label,
.contact_form_contents label,
.confirmation_form_email_title,
.confirmation_form_email_subject,
.confirmation_form_email_contents,
.post_form_title label,
.post_form_contents label {
  border-bottom: 5px solid var(--accents-color);
}

.contact_form_contents,
.contact_form_date,
.post_form_contents,
.post_form_date {
  text-align: center;
  margin-top: 1rem;
}
.contact_form_title input,
.contact_form_subject input,
.contact_form_contents textarea,
.post_form_title input,
.post_form_contents textarea {
  margin-top: 1rem;
}
.post_form_title > input {
  max-width: 300px;
  width: 100%;
}
.contact_form_button,
.confirmation_form_button,
.post_form_button {
  text-align: center;
  margin: 1rem;
}
.contact_form_button_submit,
.confirmation_form_button_submit,
.post_form_button_submit,
.upload_form_button_submit {
  background: var(--accents-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #33333333;
}
.contact_form_button_submit:active,
.confirmation_form_button_submit:active,
.post_form_button_submit:active {
  background: var(--sub-color);
  box-shadow: inset 2px 2px 2px var(--black-color);
  transform: translate(2px, 2px);
}

.upload_images_upload {
  width: 100%;
  max-width: 500px;
  height: auto;
  text-align: center;
  margin: 5rem auto;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  padding: 0.5rem 0;
}
.upload_images_upload input[type="file"] {
  margin: 2rem 0 1rem;
}
.upload_images_upload label {
  border-bottom: 5px solid var(--base-color);
}

.contact_form_textarea {
  width: 100%;
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 1024px) {
}

/* article */
.article_section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}
.article_contents {
  width: 100%;
  height: 100%;
}
.article_post {
  width: 100%;
  height: 100%;
}
.article_post_title {
  text-align: center;
}
.article_post_img {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 150px;
  margin: 2rem auto;
}
.article_post_date {
  text-align: right;
  display: block;
}
.article_post_text {
  text-align: center;
  line-height: 1.5;
}
.article_post_text > div {
  line-height: 2;
}
.article_button {
  text-align: center;
  padding: 100px 0;
}
@media screen and (min-width: 576px) {
  .article_post_img {
    max-width: 300px;
    max-height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  /* .article_post_img {
    max-width: 300px;
    max-height: 300px;
  } */
}
/* editor */
#html-editor {
  font-size: 18px !important;
}
.thumbnail_box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid var(--sub-color);
  background: var(--sub-color-10);
}
.thumbnail_title {
  font-size: var(--font-base);
  font-weight: normal;
  border-bottom: 1px solid var(--sub-color);
  background: unset;
}
.thumbnail {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.thumbnail-img {
  display: inline-block;
  width: 150px;
  height: 100px;
  overflow: hidden;
}

.thumbnail_images {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
}
.thumbnail_images_alternative,
.thumbnail_images_alternative > input {
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
}
