@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
/* 共有 */
.container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 575px;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.main_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.bg_img {
  width: 100%;
  height: 100%;
  background-repeat: repeat-y;
  background-size: cover;
}
.page_contents {
  width: 100%;
  height: 100%;
  background-image: url("/images/bg-sp.png");
  background-repeat: repeat-y;
  background-size: cover;
}

.page_title {
  font-size: 27px;
}
.border_bottom {
  border-bottom: 1px solid var(--sub-color);
  display: inline-block;
  width: 100%;
}
.portfolio_name {
  font-size: 48px;
  color: var(--sub-color);
  font-family: "Merienda", "cursive";
  text-shadow: 4px 4px 0px var(--accents-color);
  line-height: 0.5;
}
.my_name {
  font-size: 18px;
  color: var(--sub-color);
  font-family: "Merienda", "cursive";
  text-shadow: 4px 4px 0px var(--accents-color);
  line-height: 0.5;
}
.upButton,
.blogButton {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid var(--accents-color);
  background: var(--base-color);
  border-radius: 5px 0px 0px 5px;
}
.blogButton {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.blogButton_bar {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: var(--sub-color);
}
.blogButton_bar:nth-child(2) {
  margin: 3px 0;
}
.socialMediaBox {
  width: 25px;
  height: auto;
}
.socialMediaButton {
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid var(--base-color);
  border-radius: 0px 5px 5px 0px;
  background: var(--white-color);
}
.backButton {
  width: 50px;
  height: 25px;
  background: var(--base-color);
  border: 1px solid var(--accents-color);

  border-radius: 5px;
  color: var(--sub-color);
}
.submitButton {
  width: 50px;
  height: 25px;
  background: var(--accents-color);
  border: 1px solid var(--base-color);
  border-radius: 5px;
  color: var(--sub-color);
}
.startButton {
  width: 50px;
  height: 50px;
  position: relative;
  border-style: unset;
  background: none;
}
.startArrow {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}
.startCircle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--sub-color);
  border: 1px solid var(--base-color);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav_button {
}
.header {
  width: 100%;
  height: 50px;
}
.header_wrapper .header_nav {
}
.header_nav_list {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.header_nav_item {
  width: 60px;
  height: 25px;
  text-align: center;

  letter-spacing: -1.5px;
  border-left: 1px solid var(--sub-color-10);
  border-right: 1px solid var(--sub-color-10);
  border-bottom: 1px solid var(--sub-color-10);
  border-radius: 0px 0px 5px 5px;
  background: linear-gradient(
    to top,
    var(--accents-color) 0%,
    var(--white-color) 50%
  );
}
.header_nav_item:last-child {
  letter-spacing: -2px;
}
.header_nav_link {
}
@media screen and (min-width: 576px) {
  .container {
    min-width: 576px;
    max-width: 1023px;
  }
  .my_name {
    font-size: 36px;
  }
  .portfolio_name {
    font-size: 64px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    min-width: 1024px;
    max-width: 1440px;
  }
  .my_name {
    font-size: 64px;
  }
  .portfolio_name {
    font-size: 128px;
  }
}
/* home */
.home_header {
  width: 100%;
  height: 50px;
}
.home_contents {
  width: 100%;
  height: 100%;
  font-size: var(--font-large);
  margin: 0;
  text-align: center;
}

.home_notebook {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.home_notebook_cover {
  width: 100%;
  height: 100%;
  background: var(--base-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.home_notebook_spine {
  width: 25px;
  height: 100%;
  background: var(--accents-color);
}
.home.border_bottom {
  box-shadow: 4px 4px 0px var(--accents-color);
}
.home_button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.action .home_notebook_index {
  width: 100%;
  height: 100%;
}
